.contact_container{
    width: 100%;
    display: grid;
    grid-template-columns: 16% 17%;
    gap: 10%;
    justify-content: center;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.conatct_icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h5{
    color: var(--color-light);
}

a{
    text-decoration: none;
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}


/* form */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea{
    background: transparent;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary-variant) ;
    resize: none;
    color: var(--color-white);
}

#contact{
    margin-top: 15rem;
}

/* media queries */

@media screen and (max-width: 1024px){
    .contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
        width: var(--container-width-md);
      margin-left:  5rem;
    }

    input,textarea{
        width: var(--container-width-md);
    }

    #contact{
        margin-top: 25rem;
    }
}

@media screen and (max-width: 600px){
    .contact_container{
        width: var(--container-width-sm);
      margin-left: 1rem;
    }
    input,textarea{
        width: var(--container-width-sm);
    }
}